<app-topbar></app-topbar>

<div class="wrapper">
  <div class="uf-container">
    <div class="sheet sheet--padding">
      <div class="uf-row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="arch">
              <h1 class="margin-bottom--small delta fw-700">Edit profile</h1>
          </div> <!-- close .arch -->

          <div class="form">
            <form [formGroup]="form" class="edit_user" id="edit_user" action="/account" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓">
                <input style="display: none;" type="file" accept="image/*" #fileInput ng2FileSelect [uploader]="uploader" class="upload-input">
                <input type="hidden" name="authenticity_token" [value]="helper.token">
              <div class="uf-row">
                <div class="col-xs-12 col-sm-4 text-center">
                  <a (click)="fileInput.click()"
                    class="d-inline-block">
                    <div class="upload-circular">
                      <img
                        sizes="128px"
                        class="obj-fit-cover upload-circular__image upload-circular__image--large"
                        [src]="userInfo.avatar">
                      <div class="upload-circular__progress">
                      </div> <!-- close .__progress -->
                    </div> <!-- close .upload-circular -->

                    <p class="text-center zeta">{{ uploadText }}</p>
                  </a> <!-- close .js -->
                </div>

                <div class="col-xs-12 col-sm-8">
                  <div class="form-group">
                    <label class='label' for="user_first_name">First name</label>
                    <input [formGroup]="form" class="uf-form-control" type="text" [value]="userInfo.first_name" formControlName="first_name" name="first_name" id="user_first_name">

                  </div> <!-- close .form-group -->

                  <div class="form-group">
                    <label class='label' for="user_last_name">Last name</label>
                    <input [formGroup]="form" class="uf-form-control" type="text" [value]="userInfo.last_name" formControlName="last_name" name="last_name" id="user_last_name">

                  </div> <!-- close .form-group -->

                  <div class="form-group">
                    <label class='label' for="user_email">
                      Email address
                    </label>
                    <input [formGroup]="form" class="uf-form-control" type="email" [value]="userInfo.email" formControlName="email" name="user[email]"
                      id="user_email">

                  </div> <!-- close .form-group -->
                </div> <!-- close .col -->
              </div> <!-- close .row -->

              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <div class="form-group">
                    <label class='label' for="user_username">
                      Username <span class="text-secondary">(only letters, numbers, and underscores)</span>
                    </label>
                    <input [formGroup]="form" class="form-control" type="text" [value]="userInfo.username" formControlName="username" name="user[username]" id="user_username">
                  </div> <!-- close .form-group -->
                </div> <!-- close .col -->

                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label class='label' for="user_location">Location</label>
                    <div class="input-group">
                      <input [formGroup]="form" class="form-control" type="text" [value]="userInfo.location" formControlName="location" name="user[location]" id="user_location">
                    </div>


                  </div> <!-- close .form-group -->
                </div> <!-- close .col -->

                

                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label class='label' for="user_interests">
                      Interests
                    </label>
                    <input type="text" name="user[user_tags_set][custom_tags]" id="user_interests"
                      value="animal, urban, city, architecture, plant" class="form-control" data-taggable="true"
                      style="display: none;">
                    <div id="user_interests_tagsinput" class="tagsinput"
                      style="width: 100%; min-height: 100%; height: 100%;">
                        <span class="tag"><span>animal</span></span>
                        <span class="tag"><span>urban</span></span>
                        <span class="tag"><span>city</span></span>
                        <span class="tag"><span>architecture</span></span>
                        <span class="tag"><span>plant</span></span>
                      
                    </div>
                    <div class="help-block text-secondary">
                      <p>Your interests are generated from the types of photos you like, collect, and contribute.</p>
                    </div> <!-- close .help-block -->

                  </div> <!-- close .form-group -->
                </div> <!-- close .col -->

                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                      <label class='label' for="user_bio">Bio <span class="text-secondary"> (maximum 250 characters)</span></label>
  
                      <div class="input-with-counter js-character-count-container">
                        <textarea [formGroup]="form" class="form-control" [value]="userInfo.bio" formControlName="bio" rows="4" data-character-count="250" name="user[bio]"
                          id="user_bio"></textarea>
                      </div>
  
  
                    </div> <!-- close .form-group -->
                  </div> <!-- close .col -->
              </div> <!-- close .row -->

              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <div class="form-group">
                    <input type="submit" (click)="updateUserInfo()" name="commit" value="Update account" class="uf-btn btn-default btn-block-level "
                      data-disable-with="···">
                  </div> <!-- close .form-group -->
                </div> <!-- close .col -->
              </div> <!-- close .row -->
            </form>
          </div> <!-- close .form -->
        </div>
      </div> <!-- close .row -->
    </div> <!-- close .sheet -->
  </div> <!-- close .container -->

</div>

<app-footer></app-footer>