<div class="carousel__wrapper">
     <div class="carousel__container">
          <div class="carousel__picture">
               <div class="carousel__photo-of-day">
                    <img class="carousel__image"
                         src="https://images.unsplash.com/photo-1571417416849-c4e227acb65c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;fit=crop&amp;w=1000&amp;h=1000&amp;q=80" />
               </div>
          </div>
          <div class="carousel__content">
               <div class="carousel__content-main-container">
                    <div class="carousel__content-main">
                         <span class="carousel__content-brand">UpFamous</span>
                         <div>
                              <h1 class="carousel__content-sub-heading">
                                   The internet’s source of freely useable images.
                              </h1>
                              <p class="carousel__content-body">
                                   Powered by creators everywhere.
                              </p>
                              <div class="carousel__search">
                                   <div class="carousel__form-container">
                                        <form class="carousel__form" action="">
                                             <button title="Search Unsplash" class="carousel__form-button"
                                                  type="submit">
                                                  <svg class="carousel__form-button-icon" version="1.1"
                                                       viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                                                       <path
                                                            d="M31 28.64l-7.57-7.57a12.53 12.53 0 1 0-2.36 2.36l7.57 7.57zm-17.5-6a9.17 9.17 0 1 1 6.5-2.64 9.11 9.11 0 0 1-6.5 2.67z">
                                                       </path>
                                                  </svg>
                                                  <span class="carousel__form-search">Search</span>
                                             </button>
                                             <div class="carousel__search-box">
                                                  <input type="search" name="searchKeyword" placeholder="Search photos"
                                                       required="" class="carousel__search-input"
                                                       data-test="homepage-header-search-form-input"
                                                       id="SEARCH_FORM_INPUT_homepage-header-big"
                                                       title="Search Unsplash" />
                                             </div>
                                        </form>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="carousel__content-credit">
                    <div class="carousel_credit-container">
                         <div class="carousel__credit-left carousel__credit-author">
                              <a title="green leaves macro photography" class="carousel__credit-link"
                                   href="/photos/I_S5d21eCEc">Photo of the Day&nbsp;</a> by&nbsp;
                              <div class="carousel__credit-username">
                                   <a class="carousel__credit-link" href="/@alexloup">Alex Loup</a>
                              </div>
                         </div>
                         <div class="carousel__credit-center carousel__credit-license">
                              Read more about the&nbsp;<a class="carousel__credit-link" href="/license">UpFamous License</a>
                         </div>
                         <div class="carousel__credit-right carousel__credit-slogan">
                              <div>
                                   <div>Track and manage campaigns from anywhere.</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>