<div data-set='collections-route'>
     <div class="collections-wrapper pd-x-12 mg-x-auto limit-width">
          <div class="collections-container">
               <app-collection-item class="width-4"></app-collection-item>
               <app-collection-item class="width-4"></app-collection-item>
               <app-collection-item class="width-4"></app-collection-item>
               <app-collection-item class="width-4"></app-collection-item>
               <app-collection-item class="width-4"></app-collection-item>
               <app-collection-item class="width-4"></app-collection-item>
          </div>
          <div id="spinner"></div>
     </div>
</div>