<div class="photogrids">
     <div>
          <div class="grid-count-three">
               <div class="grid-col-4">
                    <app-basic-figure></app-basic-figure>
                    <app-sponsore-figure></app-sponsore-figure>
                    <app-basic-figure></app-basic-figure>
               </div>
               <div class="grid-col-4">
                    <app-basic-figure></app-basic-figure>
                    <app-basic-figure></app-basic-figure>
                    <app-basic-figure></app-basic-figure>
               </div>
               <div class="grid-col-4">
                    <app-basic-figure></app-basic-figure>
                    <app-basic-figure></app-basic-figure>
                    <app-basic-figure></app-basic-figure>
               </div>
          </div>
     </div>
     <div id="spinner" class="spinner">

     </div>
</div>