.photogrids {
     padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.grid-count-three {
     padding-bottom: 48px;
     margin-bottom: 0;
     margin-left: -24px;
}

.grid-col-4 {
     padding-bottom: 0;
     padding-left: 24px;
     float: left;
}

.photogrids {
     max-width: 1320px;
}

.photogrids {
     overflow: hidden;
}

.grid-count-three:before, .grid-count-three:after {
     content: "";
     display: table;
}