<div class="photogrids">
     <div>
          <div class="grid-count-three">
               <div class="width-4 grid-col-4">
                    <app-basic-figure *ngFor="let item of list1" [item]='item'></app-basic-figure>
               </div>
               <div class="width-4 grid-col-4">
                    <app-basic-figure *ngFor="let item of list2" [item]='item'></app-basic-figure>
               </div>
               <div class="width-4 grid-col-4">
                    <app-basic-figure *ngFor="let item of list3" [item]='item'></app-basic-figure>
               </div>
          </div>
     </div>
     <div id="spinner" class="spinner">

     </div>
</div>
