<div id="app">
  <div class="not-found-bg-wrapper"
   [style.background-image]="'url(../../../../assets/images/404/' + id + '.gif)'">
    <div class="not-found-float-bg"></div>
    <div class="nf-logo">
      <a href="/" class="nf-logo-opacity" title="Back to Unsplash">
        <img width="40" height="40" src="../../../../assets/images/logo70-bw.png">
      </a>
    </div>
    <div class="nf-text-ctn">
      <div class="nf-text-center">
        <h1 class="nf-404 nf-shadow fw-700">404</h1>
        <div class="nf-desc-text nf-shadow lh-16">
          <p>
            Hm, the page you were looking for doesn't seem to exist anymore.
          </p>
        </div>
        <a href="/" class="pointer-auto d-inline-flex uf-btn-white uf-btn-border uf-btn-text no-decor fw-500">Back to UpFamous</a>
      </div>
    </div>
  </div>
</div>