<app-topbar></app-topbar>
<div data-set="photos-route">
  <div class="photo-wrapper">
    <!-- Main photo show -->
    <div>
      <div class="">
        <header class="photo-view-header">
          <div class="d-flex pd-4 photo-view-header-author">
            <span class="d-inline-flex max-width-100 align-items-center pointer-auto">
              <div class="mr-8">
                <div class="relative">
                  <div class="img-circle" style="width:32px;height:32px">
                    <a href="/user/{{ item.user.username }}"><img class="user-avatar"
                        [src]="item.user.avatar"
                        role="presentation" alt="Go to {{ item.user_fullname }}'s profile" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="relative min-width-0">
                <div class="relative">
                  <a class="color-inherit fz-15 lh-135 no-decor fw-500 photo-author-name" href="/user/{{ item.user.username }}">{{ item.user_fullname }}</a>
                  <a class="lh-135 photo-author-name no-decor photo-username" href="/user/{{ item.user.username }}">@{{ item.user.username }}</a>
                </div>
              </div>
            </span>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0 pd-4">
              <button title="Like photo" type="button" (click)="doLikeItem(item.id)"
                [ngClass]="{'icon-liked': isLikedByCurrentUser}"
                class="d-inline-flex uf-btn-white uf-btn-border uf-btn-text no-decor fw-500">
                <svg class="uf-btn-icon" [ngClass]="{'fill-w': isLikedByCurrentUser}" version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                  <path
                    d="M17.4 29c-.8.8-2 .8-2.8 0l-12.3-12.8c-3.1-3.1-3.1-8.2 0-11.4 3.1-3.1 8.2-3.1 11.3 0l2.4 2.8 2.3-2.8c3.1-3.1 8.2-3.1 11.3 0 3.1 3.1 3.1 8.2 0 11.4l-12.2 12.8z">
                  </path>
                </svg>
              </button>
            </div>
            <div class="flex-shrink-0 pd-4">
              <button type="button" title="Add to collection" (click)="_showCollectionModal()"
                class="d-inline-flex uf-btn-white uf-btn-border uf-btn-text no-decor fw-500" [ngClass]="{'green-btn': isInUserCollection}">
                <svg class="uf-btn-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                  <path d="M14 3h4v26h-4zM29 14v4h-26v-4z"></path>
                </svg>
                <span class="mr-l-5">Collect</span>
              </button>
            </div>
            <div class="width-180 flex-shrink-0 pd-4">
              <a title="Download photo" (click)="downloadFile()"
                rel="nofollow"
                class="d-inline-flex uf-btn-white uf-btn-border uf-btn-text no-decor fw-500 btn-block-level justify-center">
                <svg class="uf-btn-icon d-none" version="1.1" viewBox="0 0 32 32" width="32" height="32"
                  aria-hidden="false">
                  <path d="M25.8 15.5l-7.8 7.2v-20.7h-4v20.7l-7.8-7.2-2.7 3 12.5 11.4 12.5-11.4z"></path>
                </svg><span class="_2Aga-">Download</span>
              </a>
            </div>
          </div>
        </header>
      </div>
      <div class="photo-main">
        <div [style.padding]="zoom ? null : '10px 16px'">
          <div [ngStyle]="{'min-width': zoom ? null : minWidth +'px'}"
            [style.max-width]="zoom ? null : sanitizer.bypassSecurityTrustStyle(maxWidthPercent)"
            class="mg-x-auto">
            <button [ngClass]="{'cursor-zoom-out': zoom, 'cursor-zoom-in': !zoom}"
             class="btn-zoom-in-container box-shadow-none photo-display photo-border btn-no-out-set"
              type="button" (click)='toggleZoom()'>
              <div class="btn-zoom-in">
                <div class="pd-4">
                  <svg class="zoom-in-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32"
                    aria-hidden="false">
                    <path d="M19 3v3h4.8l-4.4 4.5 2 2L26 8.2v5h3V3M6 24v-4.6H3V29h9.6v-3H8l5-5-2-2"></path>
                  </svg>
                </div>
              </div>
              <div class="bg-f5 relative" [style.paddingBottom.%]="imgPadding">
                <img
                  [src]="imgUrl"
                  class="img-fit left-0" />
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="photo-info">
        <div class="photo-main-info pd-4">
          <div *ngIf="item.location" class="max-width-100 pd-4">
            <a class="fw-500 photo-location" href="/s/photos/{{ item.location }}"><svg class="photo-location-icon"
                version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                <path
                  d="M16 0c-6.7 0-12 5.3-12 12 0 8.6 8.6 17.3 11.2 19.7.4.4 1.1.4 1.5 0 2.7-2.4 11.3-11.1 11.3-19.7 0-6.7-5.3-12-12-12zm0 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z">
                </path>
              </svg><span class="overflow-hidden">{{ item.location }}</span></a>
          </div>
          <div class="max-width-100 pd-4">
            <div class="max-width-500 uf-grey">
              <p class="d-inline mg-x-auto">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="pd-4">
          <button type="button"
            class="d-flex align-items-center uf-btn-white uf-btn-border uf-btn-text no-decor fw-500">
            <div class="d-flex align-items-center">
              <svg class="share-icon " version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                <path
                  d="M0 26c0 1.7.2 3.3.6 4.9.2.9.7.9 1 0 2.1-5.3 5.5-10.3 11.1-11.3h3.3v4.4c0 2 1.2 2.6 2.6 1.4l12.8-11c.7-.6.7-1.6 0-2.3l-12.8-11c-1.4-1.3-2.6-.6-2.6 1.3v4.7c-9.6 1.6-16 9.4-16 18.9z">
                </path>
              </svg><span class="mr-l-5">Share</span>
            </div>
          </button>
        </div>
        <div class="pd-4">
          <button type="button" (click)='showModalInfo()'
            class="d-flex align-items-center uf-btn-white uf-btn-border uf-btn-text no-decor fw-500">
            <svg class="share-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
              <path
                d="M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16zm2 25c0 .6-.4 1-1 1h-2c-.6 0-1-.4-1-1v-12c0-.6.4-1 1-1h2c.6 0 1 .4 1 1v12zm0-16c0 .6-.4 1-1 1h-2c-.6 0-1-.4-1-1v-2c0-.6.4-1 1-1h2c.6 0 1 .4 1 1v2z">
              </path>
            </svg><span class="mr-l-5">Info</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Related photos -->

    <!-- Related tags -->

    <!-- Related collections -->
  </div>
</div>
<app-modal *ngIf="isShowModal" [item]="item" [modalType]='modalType' [type]="'viewer'" (viewerHideModal)="hideModal()"></app-modal>