.info-container {
  width: 100%;
    max-width: 575px;
    background-size: cover;
    background-position: 50%;
}

.info-container-style {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  min-width: 0;
  margin: auto;
}

.info-text {
  font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
}

.info-stat {
  flex-basis: 160px;
    flex-grow: 1;
}

.dt {
  display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.view-icon {
  box-sizing: content-box;
    height: 17px;
    width: 17px;
    margin-right: 6px;
}

.dd {
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

.view-num {
  font-weight: 400;
    font-size: 21px;
}

.hr {
  margin: 8px 24px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-color: #d1d1d1;
}

.exif {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.exif-text {
  font-size: 12px;
    color: #767676;
}

.mg-l-0 {
  margin-left: 0;
}