<div class="info-container info-container-style pointer-auto">
  <div class="pd-bt-8 pd-16">
    <div class="pd-8">
      <h2 class="info-text lh-12">Info</h2>
      <span class="fz-12">Published on 
        <time datetime="2019-12-16T08:58:43-05:00">December 16, 2019</time></span>
    </div>
  </div>
  <dl class="d-flex flex-wrap-wrap pd-16 mg-y-0">
    <div class="info-stat pd-8">
      <dt class="dt"><svg class="view-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32"
          aria-hidden="false">
          <path
            d="M31.8 15.1l-.2-.4c-3.5-6.9-9.7-11.5-15.6-11.5-6.3 0-12.3 4.5-15.7 11.7l-.2.4c-.2.5-.2 1.1 0 1.6l.2.4c3.6 7 9.7 11.5 15.6 11.5 6.3 0 12.3-4.5 15.6-11.6l.2-.4c.4-.5.4-1.2.1-1.7zm-2 1.2c-3 6.5-8.3 10.5-13.8 10.5-5.2 0-10.6-4.1-13.8-10.4l-.2-.4.1-.3c3.1-6.5 8.4-10.5 13.9-10.5 5.2 0 10.6 4.1 13.8 10.4l.2.4-.2.3zm-13.8-6.6c-3.5 0-6.3 2.8-6.3 6.3s2.8 6.3 6.3 6.3 6.3-2.8 6.3-6.3-2.8-6.3-6.3-6.3zm0 10.6c-2.4 0-4.3-1.9-4.3-4.3s1.9-4.3 4.3-4.3 4.3 1.9 4.3 4.3-1.9 4.3-4.3 4.3z">
          </path>
        </svg><span class="fz-12 fw-500">Views</span></dt>
      <dd class="dd"><span class="view-num lh-16">236,171</span>
      </dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="dt"><svg class="view-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32"
          aria-hidden="false">
          <path
            d="M27.5 18.08a1 1 0 0 0-1.42 0l-9.08 8.59v-23.67a1 1 0 0 0-2 0v23.67l-9.08-8.62a1 1 0 1 0-1.38 1.45l10.77 10.23a1.19 1.19 0 0 0 .15.09.54.54 0 0 0 .16.1.94.94 0 0 0 .76 0 .54.54 0 0 0 .16-.1l.15-.09 10.77-10.23a1 1 0 0 0 .04-1.42z">
          </path>
        </svg><span class="fz-12 fw-500">Downloads</span></dt>
      <dd class="dd"><span class="view-num lh-16">401</span></dd>
    </div>
    <div class="info-stat pd-8"></div>
  </dl>
  <hr class="hr">
  <dl class="exif pd-16">
    <div class="info-stat pd-8">
      <dt class="exif-text">Camera Make</dt>
      <dd class="mg-l-0">--</dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="exif-text">Camera Model</dt>
      <dd class="mg-l-0">--</dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="exif-text">Focal Length</dt>
      <dd class="mg-l-0">--</dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="exif-text">Aperture</dt>
      <dd class="mg-l-0">--</dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="exif-text">Shutter Speed</dt>
      <dd class="mg-l-0">--</dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="exif-text">ISO</dt>
      <dd class="mg-l-0">--</dd>
    </div>
    <div class="info-stat pd-8">
      <dt class="exif-text">Dimensions</dt>
      <dd class="mg-l-0">2939 × 3739</dd>
    </div>
  </dl>
</div>