<app-topbar></app-topbar>
<div class="pointer-auto upload-wrapper">
  <div class="overflow-auto upload-container">
    <div class="max-height-flex-column">
      <div class="upload-header">
        <h4 class="fw-500 fz-15 mg-y-0">Select photos for publishing</h4>
        <div class="mg-l-auto">
          <div class="uf-grey">
            You have {{ remain }} uploads remaining this week.
            <a target="_blank" href="/contributing-to-UpFamous/upload-a-photo-to-UpFamous">
              What's this?</a>
          </div>
        </div>
      </div>
      <form class="upload-form-container">

        <div *ngIf="filesErr.length != 0" class="pd-bt-l-16 pd-r-16">
          <div class="mg-bt-l--16">
            <div class="pd-bt-l-16">
              <div class="upload-err-bg">
                <div class="mg-bt-l--16">
                  <p class="fw-600 pd-bt-l-16 mg-y-0">Unfortunately we had trouble uploading
                    the
                    following files:</p>
                  <ul class="pd-l-0 list-style-none mg-y-0">
                    <li class="pd-bt-l-16">
                      <div class="d-flex mg-bt-l--10">
                        <div class="pd-bt-l-10"><svg class="img-err-icon" version="1.1" viewBox="0 0 32 32" width="32"
                            height="32" aria-hidden="false">
                            <path
                              d="M10.8 18.2667L14.5333 22.6667L19.7333 16L26.4 24.9333H5.6L10.8 18.2667ZM29.3333 28V4C29.3333 3.2 28.8 2.66667 28 2.66667H4C3.2 2.66667 2.66667 3.2 2.66667 4V28C2.66667 28.8 3.2 29.3333 4 29.3333H28C28.8 29.3333 29.3333 28.8 29.3333 28Z">
                            </path>
                          </svg></div>
                        <div>
                          <div class="pd-bt-l-10">
                            <p class="mg-y-0">{{ filesErr.length }} file(s)
                              did exceed the
                              maximum size</p>
                            <p class="upload-err-text mg-y-0">Please upload
                              images less than 10MB</p>
                          </div>
                          <div class="pd-bt-l-10">
                            <ul class="upload-err-img-list pd-l-0 list-style-none mg-y-0">
                              <li *ngFor="let file of filesErr" class="pd-bt-4 pd-l-8">
                                <div class="w-80px mg-bt-l--4">
                                  <div class="pd-bt-l-4"><img [src]="file.imgBlob"
                                      class="obj-fit-cover w-100 upload-err-img">
                                  </div>
                                  <div class="pd-bt-l-4 overflow-hidden" [title]="file.originalFilename">
                                    {{ file.originalFilename }}
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <p class="fw-600 pd-bt-l-16 mg-y-0">You may re-upload them or proceed to
                    publishing without these images.</p>
                  <div class="pd-bt-l-16"><button type="button" (click)="removeErrFiles()"
                      class="w-100 uf-btn-border uf-btn-text uf-btn-white fw-500 no-decor">OK,
                      got it</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="filesLength != 0" class="upload-form-section">
          <div class="mg-bt-l--16">
            <div class="pd-b-l-16">
              <label [class.upload-disable]="remain == 0" class="ul-fo-display ul-fo-pd ul-fo-animate ul-fo-color">
                <div class="flex-column-center">
                  <img class="_3rSeE" src="../../../assets/images/upload_empty.png" />
                  <div>
                    Drop your images here or <span class="ReA9D">Browse</span>
                  </div>
                </div>
                <input [disabled]="remain == 0 ? true : null" type="file" multiple="" accept="image/jpeg" #fileInput
                  ng2FileSelect [uploader]="uploader" class="upload-input" />
              </label>
            </div>
            <div class="pd-b-l-16">
              <div class="files-wrapper">
                <div class="file-container">
                  <div class="">
                    <div class="grid-count-three">
                      <div class="width-4 grid-col-4">
                        <div *ngFor="let file of files; let i = index">
                          <div *ngIf="i % 3 == 0" class="pd-bt-16-l-0">
                            <div class="upload-file-wrapper">
                              <div class="relative">
                                <div class="w-100 overflow-hidden d-inline-block-align-top">
                                  <div class="relative">
                                    <div class="relative" [style.paddingBottom.%]="
                                        file.paddingBottom
                                      ">
                                      <img [id]="i" [src]="file.imgBlob" alt="luis-villasmil-fadifl83vhA-unsplash.jpg"
                                        class="bg-shadow figure-img" />
                                    </div>

                                    <div class="img-above-bg">
                                      <div class="img-processbar" role="progressbar" aria-valuemin="0"
                                        aria-valuemax="100" aria-valuenow="100" [attr.style]="
                                          sanitizer.bypassSecurityTrustStyle(
                                            '--progressBarValue: ' +
                                              file.progress +
                                              '%'
                                          )
                                        "></div>
                                    </div>
                                  </div>
                                  <div [ngClass]="{
                                      'bt-progressbar': true,
                                      'color-on-progress': file.progress != 100,
                                      'color-transparent': file.progress == 100
                                    }" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"
                                    [attr.style]="
                                      sanitizer.bypassSecurityTrustStyle(
                                        '--progressBarValue: ' +
                                          file.progress +
                                          '%'
                                      )
                                    "></div>
                                </div>
                                <div class="img-above-bg">
                                  <div class="upload-above-bg">
                                    <div class="d-flex justify-content-end">
                                      <div class="upload-discard-btn">
                                        <button type="button" (click)="doRemove(i)"
                                          [disabled]='file.progress != 100 ? true : null'
                                          class="upload-discard-dp icon-outline-1"
                                          aria-labelledby="uploader-form-valid-file-removeButton">
                                          <svg class="upload-discard-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                            height="32" aria-hidden="false">
                                            <path
                                              d="M25.33 8.55l-1.88-1.88-7.45 7.45-7.45-7.45-1.88 1.88 7.45 7.45-7.45 7.45 1.88 1.88 7.45-7.45 7.45 7.45 1.88-1.88-7.45-7.45z">
                                            </path>
                                          </svg>
                                        </button>
                                        <div role="tooltip" id="uploader-form-valid-file-removeButton"
                                          class="mytooltip">
                                          {{ removeFileText(file.progress) }}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="mg-t-auto">
                                      <button *ngIf="!showLocation[i]" (click)="showAddLocation(i)" [id]="'btn_location_' + i" type="button"
                                        class="upload-location-wrapper icon-outline-1">
                                        <svg class="add-location-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                          height="32" aria-hidden="false">
                                          <path
                                            d="M16 0c-6.7 0-12 5.3-12 12 0 8.6 8.6 17.3 11.2 19.7.4.4 1.1.4 1.5 0 2.7-2.4 11.3-11.1 11.3-19.7 0-6.7-5.3-12-12-12zm0 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z">
                                          </path>
                                        </svg><span class="overflow-hidden pd-l-8">{{ locationText(i) }}</span>
                                      </button>
                                      <div *ngIf="showLocation[i]" class="">
                                        <div class="relative flex-grow-1">
                                          <div class="upload-location-ip-wrapper location-wrapper-shadow">
                                            <button title="location" type="button"
                                              class="d-flex align-items-center location-icon-border"><svg
                                                class="upload-location-icon upload-location-icon-box" version="1.1"
                                                viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                                                <path
                                                  d="M16 0c-6.7 0-12 5.3-12 12 0 8.6 8.6 17.3 11.2 19.7.4.4 1.1.4 1.5 0 2.7-2.4 11.3-11.1 11.3-19.7 0-6.7-5.3-12-12-12zm0 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z">
                                                </path>
                                              </svg>
                                            </button>
                                            <div role="combobox" aria-haspopup="listbox"
                                              aria-expanded="false" class="flex-grow-1 d-flex mg-r-16">
                                              <input type="search" autocomplete="off" aria-autocomplete="list"
                                                class="box-sizing-border-box upload-location-input"
                                                [id]="'input_location' + i" title="Location search"
                                                placeholder="Add a place or a city" value="">
                                              <button (click)="doAddLocation(i)" title="location" type="button" class="mg-l-8 d-flex align-items-center location-icon-border">
                                                Add
                                              </button> 
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <textarea class="upload-description-area" [id]="'description_' + i" placeholder="Add a description (optional)"
                                maxlength="600"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="width-4 grid-col-4">
                        <div *ngFor="let file of files; let i = index">
                          <div *ngIf="i % 3 == 1" class="pd-bt-16-l-0">
                            <div class="upload-file-wrapper">
                              <div class="relative">
                                <div class="w-100 overflow-hidden d-inline-block-align-top">
                                  <div class="relative">
                                    <div class="relative" [style.paddingBottom.%]="
                                        file.paddingBottom
                                      ">
                                      <img [id]="i" [src]="file.imgBlob" alt="luis-villasmil-fadifl83vhA-unsplash.jpg"
                                        class="bg-shadow figure-img" />
                                    </div>

                                    <div class="img-above-bg">
                                      <div class="img-processbar" role="progressbar" aria-valuemin="0"
                                        aria-valuemax="100" aria-valuenow="100" [attr.style]="
                                          sanitizer.bypassSecurityTrustStyle(
                                            '--progressBarValue: ' +
                                              file.progress +
                                              '%'
                                          )
                                        "></div>
                                    </div>
                                  </div>
                                  <div [ngClass]="{
                                      'bt-progressbar': true,
                                      'color-on-progress': file.progress != 100,
                                      'color-transparent': file.progress == 100
                                    }" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"
                                    [attr.style]="
                                      sanitizer.bypassSecurityTrustStyle(
                                        '--progressBarValue: ' +
                                          file.progress +
                                          '%'
                                      )
                                    "></div>
                                </div>
                                <div class="img-above-bg">
                                  <div class="upload-above-bg">
                                    <div class="d-flex justify-content-end">
                                      <div class="upload-discard-btn">
                                        <button type="button" (click)="doRemove(i)"
                                          [disabled]='file.progress != 100 ? true : null'
                                          class="upload-discard-dp icon-outline-1"
                                          aria-labelledby="uploader-form-valid-file-0d26b6aa-be2c-40a1-8b1d-00fc55b62681-removeButton">
                                          <svg class="upload-discard-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                            height="32" aria-hidden="false">
                                            <path
                                              d="M25.33 8.55l-1.88-1.88-7.45 7.45-7.45-7.45-1.88 1.88 7.45 7.45-7.45 7.45 1.88 1.88 7.45-7.45 7.45 7.45 1.88-1.88-7.45-7.45z">
                                            </path>
                                          </svg>
                                        </button>
                                        <div role="tooltip"
                                          id="uploader-form-valid-file-0d26b6aa-be2c-40a1-8b1d-00fc55b62681-removeButton"
                                          class="mytooltip">
                                          {{ removeFileText(file.progress) }}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="mg-t-auto">
                                      <button type="button" class="upload-location-wrapper icon-outline-1">
                                        <svg class="add-location-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                          height="32" aria-hidden="false">
                                          <path
                                            d="M16 0c-6.7 0-12 5.3-12 12 0 8.6 8.6 17.3 11.2 19.7.4.4 1.1.4 1.5 0 2.7-2.4 11.3-11.1 11.3-19.7 0-6.7-5.3-12-12-12zm0 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z">
                                          </path>
                                        </svg><span class="overflow-hidden pd-l-8">Add
                                          location</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <textarea class="upload-description-area" placeholder="Add a description (optional)"
                                maxlength="600"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="width-4 grid-col-4">
                        <div *ngFor="let file of files; let i = index">
                          <div *ngIf="i % 3 == 2" class="pd-bt-16-l-0">
                            <div class="upload-file-wrapper">
                              <div class="relative">
                                <div class="w-100 overflow-hidden d-inline-block-align-top">
                                  <div class="relative">
                                    <div class="relative" [style.paddingBottom.%]="
                                        file.paddingBottom
                                      ">
                                      <img [id]="i" [src]="file.imgBlob" alt="luis-villasmil-fadifl83vhA-unsplash.jpg"
                                        class="bg-shadow figure-img" />
                                    </div>

                                    <div class="img-above-bg">
                                      <div class="img-processbar" role="progressbar" aria-valuemin="0"
                                        aria-valuemax="100" aria-valuenow="100" [attr.style]="
                                          sanitizer.bypassSecurityTrustStyle(
                                            '--progressBarValue: ' +
                                              file.progress +
                                              '%'
                                          )
                                        "></div>
                                    </div>
                                  </div>
                                  <div [ngClass]="{
                                      'bt-progressbar': true,
                                      'color-on-progress': file.progress != 100,
                                      'color-transparent': file.progress == 100
                                    }" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"
                                    [attr.style]="
                                      sanitizer.bypassSecurityTrustStyle(
                                        '--progressBarValue: ' +
                                          file.progress +
                                          '%'
                                      )
                                    "></div>
                                </div>
                                <div class="img-above-bg">
                                  <div class="upload-above-bg">
                                    <div class="d-flex justify-content-end">
                                      <div class="upload-discard-btn">
                                        <button type="button" (click)="doRemove(i)"
                                          [disabled]='file.progress != 100 ? true : null'
                                          class="upload-discard-dp icon-outline-1"
                                          aria-labelledby="uploader-form-valid-file-0d26b6aa-be2c-40a1-8b1d-00fc55b62681-removeButton">
                                          <svg class="upload-discard-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                            height="32" aria-hidden="false">
                                            <path
                                              d="M25.33 8.55l-1.88-1.88-7.45 7.45-7.45-7.45-1.88 1.88 7.45 7.45-7.45 7.45 1.88 1.88 7.45-7.45 7.45 7.45 1.88-1.88-7.45-7.45z">
                                            </path>
                                          </svg>
                                        </button>
                                        <div role="tooltip"
                                          class="mytooltip">
                                          {{ removeFileText(file.progress) }}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="mg-t-auto">
                                      <button type="button" class="upload-location-wrapper icon-outline-1">
                                        <svg class="add-location-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                          height="32" aria-hidden="false">
                                          <path
                                            d="M16 0c-6.7 0-12 5.3-12 12 0 8.6 8.6 17.3 11.2 19.7.4.4 1.1.4 1.5 0 2.7-2.4 11.3-11.1 11.3-19.7 0-6.7-5.3-12-12-12zm0 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z">
                                          </path>
                                        </svg><span class="overflow-hidden pd-l-8">Add
                                          location</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <textarea class="upload-description-area" placeholder="Add a description (optional)"
                                maxlength="600"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="filesLength == 0" class="upload-form-section">
          <label class="ul-fo-display ul-fo-pd ul-fo-animate ul-fo-color">
            <div class="flex-column-center">
              <img class="_3rSeE" src="../../../assets/images/upload_empty.png" />
              <div>
                Drop your images here or <span class="ReA9D">Browse</span>
              </div>
            </div>
            <div class="upload-guide mg-y-0 upload-guide-fz">
              <ul class="upload-guide-ul">
                <li>
                  <strong>High quality photos</strong> (maximum
                  <strong>10MP</strong>)
                </li>
                <li>Photos are <strong>clear &amp; original</strong></li>
              </ul>
              <ul class="upload-guide-ul">
                <li>
                  Only upload photos you <strong>own the rights</strong> to
                </li>
                <li>Zero tolerance for nudity, violence or hate</li>
              </ul>
              <ul class="upload-guide-ul">
                <li>Respect the intellectual property of others</li>
                <li>
                  Read the <a href="/terms" target="_blank">UpFamous Terms</a>
                </li>
              </ul>
            </div>
            <input type="file" multiple="" accept="image/jpeg" #fileInput ng2FileSelect [uploader]="uploader"
              class="upload-input" />
          </label>
        </div>

        <div class="upload-publish-section">
          <div>
            <a class="fz-12 no-decor uf-grey" target="_blank" href="/license">Read the UpFamous
              License</a>
          </div>
          <div class="mg-l-auto d-flex">
            <button type="button" (click)='cancelUpload()'
              class="uf-btn-white mr-8 uf-btn-text uf-btn-border no-decor fw-500">
              Cancel
            </button>
            <button type="submit" (click)="uploadPhotos()" [disabled]="canBePublished ? null : true"
              [ngClass]="canBePublished ? 'uf-btn-black' : 'uf-btn-grey'"
              class="uf-btn-text uf-btn-border no-decor fw-500">
              {{ publishText }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>