<app-topbar></app-topbar>
<div class="pointer-auto upload-wrapper">
     <div class="overflow-auto upload-container">
          <div class="max-height-flex-column">
               <div class="upload-header">
                    <h4 class="fw-500 fz-15 mg-y-0">Select photos for publishing</h4>
                    <div class="mg-l-auto">
                         <div class="uf-grey">
                              You have 10 uploads remaining this week. 
                              <a target="_blank"
                              href="https://help.UpFamous.com/contributing-to-UpFamous/upload-a-photo-to-UpFamous">
                              What's this?</a>
                         </div>
                    </div>
               </div>
               <form class="upload-form-container">
                    <div class="upload-form-section">
                         <label class="ul-fo-pd ul-fo-animate ul-fo-color">
                              <div class="flex-column-center">
                                   <img class="_3rSeE" src="../../../assets/images/upload_empty.png">
                                   <div>Drop your images here or <span class="ReA9D">Browse</span></div>
                              </div>
                              <div class="_10r81 _1eXFm _3I2qn">
                                   <ul class="_1uH0I">
                                        <li><strong>High quality photos</strong> (at least <strong>5MP</strong>)</li>
                                        <li>Photos are <strong>clear &amp; original</strong></li>
                                   </ul>
                                   <ul class="_1uH0I">
                                        <li>Only upload photos you <strong>own the rights</strong> to</li>
                                        <li>Zero tolerance for nudity, violence or hate</li>
                                   </ul>
                                   <ul class="_1uH0I">
                                        <li>Respect the intellectual property of others</li>
                                        <li>Read the <a href="/terms" target="_blank">UpFamous Terms</a></li>
                                   </ul>
                              </div><input type="file" multiple="" accept="image/jpeg" class="_2dMtn _2iX7Z">
                         </label>
                    </div>
                    <div class="upload-publish-section">
                         <div><a class="_22m_Y" target="_blank" href="/license">Read the UpFamous License</a></div>
                         <div class="mg-l-auto"><button type="button"
                                   class="_37zTg _1l4Hh _1CBrG _1zIyn xLon9 _1-_iM _3PSbf NDx0k _2Xklx">Cancel</button><button
                                   type="submit" disabled=""
                                   class="_3PNCP _1l4Hh _1CBrG _1zIyn xLon9 _2D7gz _3rDw2 _2Xklx">Publish to
                                   UpFamous</button></div>
                    </div>
               </form>
          </div>
     </div>
</div>