<div class="collection-card-pd" data-test="collection-feed-card">
     <div class="max-width-750">
          <a class="no-decor" href="/collections/614656/hello-darkness-my-old-friend">
               <div class="clt-card-imgs-wrapper">
                    <div class="clt-card-imgs">
                         <div class="clt-card-img-no1 relative">
                              <img role="presentation" class="obj-fit-cover figure-img"
                                   src="https://images.unsplash.com/photo-1533742195466-77168cab9539?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=60"
                                   srcset="https://images.unsplash.com/photo-1533742195466-77168cab9539?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=525&amp;q=60 1x, https://images.unsplash.com/photo-1533742195466-77168cab9539?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=525&amp;q=60 2x">
                         </div>
                         <div class="clt-card-img-no2">
                              <div class="bg-f5 flex-grow-1 relative">
                                   <img role="presentation" class="obj-fit-cover figure-img"
                                        src="https://images.unsplash.com/photo-1531171249363-3198195cb9a3?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=60"
                                        srcset="https://images.unsplash.com/photo-1531171249363-3198195cb9a3?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 1x, https://images.unsplash.com/photo-1531171249363-3198195cb9a3?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 2x">
                              </div>
                              <div class="bg-f5 flex-grow-1 relative">
                                   <img role="presentation" class="obj-fit-cover figure-img"
                                        src="https://images.unsplash.com/photo-1528040373958-e7df2530eceb?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=60"
                                        srcset="https://images.unsplash.com/photo-1528040373958-e7df2530eceb?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 1x, https://images.unsplash.com/photo-1528040373958-e7df2530eceb?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 2x">
                              </div>
                         </div>
                    </div>
               </div>
               <div class="clt-card-name overflow-hidden">
                    <div class="uf-semi-black overflow-hidden card-name-text fw-600">HELLO DARKNESS, MY OLD FRIEND</div>
               </div>
          </a>
          <div class="card-name-author overflow-hidden">
               991 photos<span> · Curated by <a class="no-decor" href="/@susanlkh/collections">Susan H.</a></span>
          </div>
     </div>
     <div class="tag-wrapper">
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="silhouette images" href="/s/photos/silhouette">silhouette</a>
          </div>
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="sunset images" href="/images/nature/sunset">sunset</a>
          </div>
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="sunrise images" href="/s/photos/sunrise">sunrise</a>
          </div>
     </div>
</div>