<div class="collection-card-pd" data-test="collection-feed-card">
     <div class="max-width-750">
          <a class="no-decor" href="/collections/614656/hello-darkness-my-old-friend">
               <div class="clt-card-imgs-wrapper">
                    <div class="clt-card-imgs">
                         <div class="clt-card-img-no1 relative">
                              <img role="presentation" class="obj-fit-cover figure-img"
                                   src="https://images.unsplash.com/photo-1533742195466-77168cab9539?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=60"
                                   srcset="https://images.unsplash.com/photo-1533742195466-77168cab9539?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=525&amp;q=60 1x, https://images.unsplash.com/photo-1533742195466-77168cab9539?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=525&amp;q=60 2x">
                         </div>
                         <div class="clt-card-img-no2">
                              <div class="bg-f5 flex-grow-1 relative">
                                   <img role="presentation" class="obj-fit-cover figure-img"
                                        src="https://images.unsplash.com/photo-1531171249363-3198195cb9a3?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=60"
                                        srcset="https://images.unsplash.com/photo-1531171249363-3198195cb9a3?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 1x, https://images.unsplash.com/photo-1531171249363-3198195cb9a3?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 2x">
                              </div>
                              <div class="bg-f5 flex-grow-1 relative">
                                   <img role="presentation" class="obj-fit-cover figure-img"
                                        src="https://images.unsplash.com/photo-1528040373958-e7df2530eceb?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=60"
                                        srcset="https://images.unsplash.com/photo-1528040373958-e7df2530eceb?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 1x, https://images.unsplash.com/photo-1528040373958-e7df2530eceb?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=225&amp;q=60 2x">
                              </div>
                         </div>
                    </div>
               </div>
               <div class="clt-card-name overflow-hidden">
                    <span *ngIf="isPrivate()">
                         <div class="relative">
                              <svg class="lock-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                   height="32" aria-hidden="false">
                                   <path
                                        d="M27.4 15.2h-1.6v-5.4c0-2.5-1-5.1-2.9-7-1.5-1.8-4-2.8-6.9-2.8s-5.1 1.3-7 2.9c-1.9 1.9-2.8 4.1-2.8 6.9v5.4h-1.6c-.6 0-1.3.6-1.3 1.3v14.3c0 .6.7 1.2 1.3 1.2h22.8c.6 0 1.3-.6 1.3-1.3v-14.2c0-.7-.7-1.3-1.3-1.3zm-16.5-5.4c0-1.6.6-2.9 1.6-3.8 1-.9 2.2-1.6 3.5-1.6s2.5.6 3.5 1.6c1 .9 1.6 2.2 1.6 3.8v5.4h-10.2v-5.4z">
                                   </path>
                              </svg>
                         </div>
                    </span>
                    <div class="uf-semi-black overflow-hidden card-name-text fw-600">HELLO DARKNESS, MY OLD FRIEND</div>
               </div>
          </a>
          <div class="card-name-author overflow-hidden">
               991 photos<span> · Curated by <a class="no-decor" href="/@susanlkh/collections">Susan H.</a></span>
          </div>
     </div>
     <div class="tag-wrapper">
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="silhouette images" href="/s/photos/silhouette">silhouette</a>
          </div>
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="sunset images" href="/images/nature/sunset">sunset</a>
          </div>
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="sunrise images" href="/s/photos/sunrise">sunrise</a>
          </div>
     </div>
</div>