<div class="collection-card-pd" data-test="collection-feed-card">
     <div class="max-width-750">
          <a class="no-decor" href="/collections/{{ clt.id }}">
               <div class="clt-card-imgs-wrapper">
                    <div class="clt-card-imgs">
                         <div class="clt-card-img-no1 relative">
                              <img *ngIf="clt.feature_imgs[0]" role="presentation" class="obj-fit-cover figure-img"
                                   [src]="getImgUrl(clt.feature_imgs[0])">
                         </div>
                         <div class="clt-card-img-no2">
                              <div  class="bg-f5 flex-grow-1 relative">
                                   <img *ngIf="clt.feature_imgs[1]" role="presentation" class="obj-fit-cover figure-img"
                                   [src]="getImgUrl(clt.feature_imgs[1])">
                              </div>
                              <div class="bg-f5 flex-grow-1 relative">
                                   <img *ngIf="clt.feature_imgs[2]" role="presentation" class="obj-fit-cover figure-img"
                                   [src]="getImgUrl(clt.feature_imgs[2])">
                              </div>
                         </div>
                    </div>
               </div>
               <div class="clt-card-name overflow-hidden">
                    <span *ngIf="isPrivate()">
                         <div class="relative">
                              <svg class="lock-icon" version="1.1" viewBox="0 0 32 32" width="32"
                                   height="32" aria-hidden="false">
                                   <path
                                        d="M27.4 15.2h-1.6v-5.4c0-2.5-1-5.1-2.9-7-1.5-1.8-4-2.8-6.9-2.8s-5.1 1.3-7 2.9c-1.9 1.9-2.8 4.1-2.8 6.9v5.4h-1.6c-.6 0-1.3.6-1.3 1.3v14.3c0 .6.7 1.2 1.3 1.2h22.8c.6 0 1.3-.6 1.3-1.3v-14.2c0-.7-.7-1.3-1.3-1.3zm-16.5-5.4c0-1.6.6-2.9 1.6-3.8 1-.9 2.2-1.6 3.5-1.6s2.5.6 3.5 1.6c1 .9 1.6 2.2 1.6 3.8v5.4h-10.2v-5.4z">
                                   </path>
                              </svg>
                         </div>
                    </span>
                    <div class="uf-semi-black overflow-hidden card-name-text fw-600">{{ clt.name | uppercase }}</div>
               </div>
          </a>
          <div class="card-name-author overflow-hidden">
               {{ clt.img_count }} {{ clt.img_count | i18nPlural: photoMapping }}<span> · Created by <a class="no-decor" href="/user/{{clt.user.username}}/collections">{{ clt.user.fullname }}.</a></span>
          </div>
     </div>
     <div class="tag-wrapper">
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="silhouette images" href="/s/photos/silhouette">silhouette</a>
          </div>
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="sunset images" href="/images/nature/sunset">sunset</a>
          </div>
          <div class="pd-bt-l-8">
               <a class="bg-eee tag d-inline-block" title="sunrise images" href="/s/photos/sunrise">sunrise</a>
          </div>
     </div>
</div>