.user-info-section {
     padding-top: 60px;
    padding-bottom: 72px;
}

.user-info-container {
     margin-bottom: -16px;
    margin-left: -24px;
}

.user-container {
     padding-bottom: 16px;
    padding-left: 24px;
}

.user-info-wrapper {
     margin-bottom: -16px;
     margin-left: 0px;
}

.user-info-pd {
     padding-bottom: 16px;
    padding-left: 0px;
}

.user-info-action {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -24px;
    margin-left: -24px;
}

.user-info-act-pd {
     padding-bottom: 24px;
     padding-left: 24px;
}

.user-info-act-btn-wrapper {
     margin-bottom: -8px;
    margin-left: -8px;
    display: flex;
}

.user-location-wrapper {
     word-break: break-all;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-left: -24px;
}

.user-location-pd {
     padding-bottom: 8px;
    padding-left: 24px;
    min-width: 0;
}

.location-icon {
     width: 14px;
    height: 14px;
    margin-top: -2px;
    vertical-align: middle;
    transition-property: fill;
    transition-duration: .1s;
    fill: #767676;
}

.user-interest-wrapper {
     display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-left: -8px;
    overflow: hidden;
}

.user-info-section {
     max-width: 1320px;
}