<app-topbar></app-topbar>
<div data-set="user-route" class="pd-bottom-80">
     <!-- User info section -->
     <div class="user-info-section mg-x-auto">
          <div class="pd-12">
               <div class="display-table">
                    <div class="user-info-container d-flex">
                         <div class="d-flex user-container width-4">
                              <div class="mg-l-auto mg-r-32">
                                   <div class="img-circle" style="width: 150px; height: 150px;">
                                        <img class="user-avatar"
                                             src="https://images.unsplash.com/profile-1571457177669-46ab9db1186bimage?dpr=1&amp;auto=format&amp;fit=crop&amp;w=150&amp;h=150&amp;q=60&amp;crop=faces&amp;bg=fff"
                                             srcset="https://images.unsplash.com/profile-1571457177669-46ab9db1186bimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff 1x, https://images.unsplash.com/profile-1571457177669-46ab9db1186bimage?dpr=2&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff 2x"
                                             role="presentation" alt="Avatar of user Jing Shi" />
                                   </div>
                              </div>
                         </div>
                         <div class="user-container width-8">
                              <div class="user-info-wrapper">
                                   <div class="user-info-pd">
                                        <div class="user-info-action">
                                             <div class="fz-40 user-info-act-pd fw-700 lh-12">{{ userdata.first_name }} {{ userdata.last_name }}</div>
                                             <div class="user-info-act-pd">
                                                  <div class="user-info-act-btn-wrapper">
                                                       <div class="pd-bt-l-8 ">
                                                            <button type="button"
                                                                 class="uf-btn-blue uf-btn-border uf-btn-text no-decor fw-500">
                                                                 <span><svg class="follow-icon" version="1.1"
                                                                           viewBox="0 0 32 32" width="32" height="32"
                                                                           aria-hidden="false">
                                                                           <path
                                                                                d="M31.2 12.8h-2.4v-2.4c0-.4-.4-.8-.8-.8h-1.6c-.4 0-.8.4-.8.8v2.4h-2.4c-.4 0-.8.4-.8.8v1.6c0 .4.4.8.8.8h2.4v2.4c0 .4.4.8.8.8h1.6c.4 0 .8-.4.8-.8v-2.4h2.4c.4 0 .8-.4.8-.8v-1.6c0-.4-.4-.8-.8-.8zm-15.2 5.1v-1.2c1.9-1.1 3.2-3.1 3.2-5.5v-1.6c0-3.5-2.9-6.4-6.4-6.4s-6.4 2.9-6.4 6.4v1.6c0 2.4 1.3 4.4 3.2 5.5v1.2c-5.5.9-9.6 4-9.6 7.7v1.6c0 .9.7 1.6 1.6 1.6h22.4c.9 0 1.6-.7 1.6-1.6v-1.6c0-3.7-4.1-6.8-9.6-7.7z">
                                                                           </path>
                                                                      </svg>Follow</span>
                                                            </button>
                                                       </div>
                                                       <div class="pd-bt-l-8 ">
                                                            <button type="button"
                                                                 class="uf-btn-black uf-btn-border uf-btn-text no-decor fw-500">
                                                                 Message
                                                            </button>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="user-info-pd">
                                        <div class="lh-14 mg-bt-l--16">
                                             <div class="pd-bt-l-16" [style.display]="'none'">
                                                  <div class="user-location-wrapper">
                                                       <div class="user-location-pd">
                                                            <a class="no-decor" href="/s/photos/california"
                                                                 rel="nofollow"><svg class="mr-8 location-icon" version="1.1"
                                                                      viewBox="0 0 32 32" width="32" height="32"
                                                                      aria-hidden="false">
                                                                      <path
                                                                           d="M16 0c-6.7 0-12 5.3-12 12 0 8.6 8.6 17.3 11.2 19.7.4.4 1.1.4 1.5 0 2.7-2.4 11.3-11.1 11.3-19.7 0-6.7-5.3-12-12-12zm0 18c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z">
                                                                      </path>
                                                                 </svg>California</a>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="pd-bt-l-16 overwrap-break max-width-70">
                                                  Download free, beautiful high-quality photos curated by Dinh.
                                             </div>
                                             <div class="pd-bt-l-16 uf-grey">Interests</div>
                                             <div class="d-flex align-items-center flex-wrap-center">
                                                  <div class="pd-bt-l-16">
                                                       <div class="tag-wrapper">
                                                            <div class="pd-bt-l-8">
                                                                 <a class="tag bg-eee d-inline-block no-decor uf-grey" title="landscape images"
                                                                      href="/images/nature/landscape">landscape</a>
                                                            </div>
                                                            <div class="pd-bt-l-8">
                                                                 <a class="tag bg-eee d-inline-block no-decor uf-grey" title="nature images"
                                                                      href="/images/nature">nature</a>
                                                            </div>
                                                            <div class="pd-bt-l-8">
                                                                 <a class="tag bg-eee d-inline-block no-decor uf-grey" title="film images"
                                                                      href="/s/photos/film">film</a>
                                                            </div>
                                                            <div class="pd-bt-l-8">
                                                                 <a class="tag bg-eee d-inline-block no-decor uf-grey" title="animals images"
                                                                      href="/images/animals">animals</a>
                                                            </div>
                                                            <div class="pd-bt-l-8">
                                                                 <a class="tag bg-eee d-inline-block no-decor uf-grey" title="street images"
                                                                      href="/s/photos/street">street</a>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Portfolio section -->
     <app-user-action></app-user-action>

     <app-photogrids *ngIf="tab !=  'collections'"></app-photogrids>
     <app-collection-grids *ngIf="tab ==  'collections'"></app-collection-grids>
     <!-- Footer -->
     <app-footer></app-footer>
</div>