<figure itemprop="image" itemscope="">
     <div style="padding-bottom: 24px">
          <div class="figure-container">
               <a title="View the photo by {{ item.user_fullname }}" class="figure-showup"
                    href="/photos/{{ item.id }}">
                    <div class="figure-img-container" [style.paddingBottom.%]="itemPadding">
                         <img width="100px"
                              [src]="imgUrl"
                              class="figure-img"/>
                    </div>
               </a>
               <div class="figure-hover">
                    <div class="figure-hover-background"></div>
                    <div class="figure-hover-top">
                         <div class="figure-hover-top-container">
                              <button title="Like photo" type="button" (click)="doLikeItem(item.id)"
                                   [ngClass]="{'icon-liked': isLikedByCurrentUser}"
                                   class="pointer-auto d-inline-flex uf-btn-white uf-btn-border uf-btn-text no-decor fw-500">
                                   <svg class="figure-like-icon" [ngClass]="{'fill-w': isLikedByCurrentUser}" version="1.1" viewBox="0 0 32 32" width="32" height="32"
                                        aria-hidden="false">
                                        <path
                                             d="M17.4 29c-.8.8-2 .8-2.8 0l-12.3-12.8c-3.1-3.1-3.1-8.2 0-11.4 3.1-3.1 8.2-3.1 11.3 0l2.4 2.8 2.3-2.8c3.1-3.1 8.2-3.1 11.3 0 3.1 3.1 3.1 8.2 0 11.4l-12.2 12.8z">
                                        </path>
                                   </svg>
                              </button>
                              <div class="pointer-auto figure-hover-collection">
                                   <button type="button" title="Add to collection" (click)="_showCollectionModal()"
                                        class="pointer-auto d-inline-flex uf-btn-white uf-btn-border uf-btn-text no-decor fw-500" [ngClass]="{'green-btn': isInUserCollection}">
                                        <svg class="uf-btn-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32"
                                             aria-hidden="false">
                                             <path d="M14 3h4v26h-4zM29 14v4h-26v-4z"></path>
                                        </svg><span class="figure-collect-span">Collect</span>
                                   </button>
                              </div>
                         </div>
                    </div>
                    <div class="figure-hover-bottom">
                         <div class="figure-hover-author">
                              <span class="figure-hover-author-span">
                                   <div class="figure-author-ava-container">
                                        <div class="relative">
                                             <div class="img-circle" style="width: 32px; height: 32px;">
                                                  <a href="/user/{{ item.user.username }}"><img class="figura-author-img"
                                                            [src]="item.user.avatar"
                                                            role="presentation" alt="Go to {{ item.user_fullname }}'s profile" /></a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="figure-hover-ava-link">
                                        <div class="relative">
                                             <a class="tw-shadow-08 fz-15 lh-30px overflow-hidden no-decor dim"
                                                  href="/user/{{ item.user.username }}">{{ item.user_fullname }}</a>
                                        </div>
                                   </div>
                              </span>
                         </div>
                         <div class="pointer-auto transition">
                              <a title="Download photo"
                                   (click)="downloadFile()" rel="nofollow"
                                   download="" target="_blank"
                                   class="figure-btn"><svg
                                        class="uf-btn-icon" version="1.1" viewBox="0 0 32 32" width="32" height="32"
                                        aria-hidden="false">
                                        <path d="M25.8 15.5l-7.8 7.2v-20.7h-4v20.7l-7.8-7.2-2.7 3 12.5 11.4 12.5-11.4z">
                                        </path>
                                   </svg></a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</figure>