<div class="ReactModalPortal">
     <div class="ReactModal__Overlay ReactModal__Overlay--after-open _2WQMW _3EYlp">
          <div class="ReactModal__Content ReactModal__Content--after-open Su_hz mZuqa mmY2F" tabindex="-1" role="dialog"
               aria-label="Modal">
               <div class="_3aAtM"><button class="_1NHYN _3d86A Ddtb4" type="button"><svg class="_3p8U1" version="1.1"
                              viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                              <path
                                   d="M25.33 8.55l-1.88-1.88-7.45 7.45-7.45-7.45-1.88 1.88 7.45 7.45-7.45 7.45 1.88 1.88 7.45-7.45 7.45 7.45 1.88-1.88-7.45-7.45z">
                              </path>
                         </svg></button></div>
               <div class="_2sgzt _1PdBr">
                    <div class="w5x3E">
                         <div class="_1W_l2 _2T3hc"
                              style="background-image: url(&quot;https://images.unsplash.com/photo-1573162201267-83bddd2a5f0d?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjEyMDd9&quot;);">
                         </div>
                         <div class="_3eozC"></div>
                         <div class="_3OLex">
                              <div class="_2rf_x">
                                   <div class="_3fXm0 _1ehu3">
                                        <h3 class="_3_Yj4 TBVsU _3PSbf">Add to Collection</h3><button
                                             class="_2xeR4 YYug6 _1CBrG xLon9 _1pRnw _1jK-F _3d86A _2-V32"
                                             type="button">Create a new collection</button>
                                        <ul class="_2RNlZ _2Y-QM _1eXFm">
                                             <li class="_2ROB2"><button class="_3ZIBj _3d86A" type="button">
                                                       <div class="_1hIRM"><img class="_14CFJ"
                                                                 srcset="https://images.unsplash.com/photo-1573494116958-96c5c5bbef6c?ixlib=rb-1.2.1&amp;dpr=1&amp;auto=format&amp;fit=crop&amp;w=480&amp;h=80&amp;q=60 1x, https://images.unsplash.com/photo-1573494116958-96c5c5bbef6c?ixlib=rb-1.2.1&amp;dpr=2&amp;auto=format&amp;fit=crop&amp;w=480&amp;h=80&amp;q=60 2x"
                                                                 src="https://images.unsplash.com/photo-1573494116958-96c5c5bbef6c?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=480&amp;h=80&amp;q=60"
                                                                 width="480" height="80">
                                                            <div class="_2a4HK _32lYB">
                                                                 <div class="_3I5s0"><svg class="_3A5GM VcQr8"
                                                                           version="1.1" viewBox="0 0 32 32" width="32"
                                                                           height="32" aria-hidden="false">
                                                                           <path
                                                                                d="M28.1 5.2L11.7 21.6l-7.8-7.8-3.4 3.3 11.2 11.2L31.5 8.6z">
                                                                           </path>
                                                                      </svg><svg class="FA796 VcQr8" version="1.1"
                                                                           viewBox="0 0 32 32" width="32" height="32"
                                                                           aria-hidden="false">
                                                                           <path
                                                                                d="M18.4 13.6V3.5h-4.8v10.1H3.5v4.8h10.1v10.1h4.8V18.4h10.1v-4.8z">
                                                                           </path>
                                                                      </svg></div>
                                                                 <p class="WER35 _1feRO"><span>1</span> photo</p>
                                                                 <h4 class="_2nV3D _1ByhS xLon9 _1feRO">Titanic</h4>
                                                            </div>
                                                       </div>
                                                  </button></li>
                                             <li class="_2ROB2"><button class="_3ZIBj _3d86A" type="button">
                                                       <div class="_1hIRM">
                                                            <div style="height: 80px;"></div>
                                                            <div class="_2a4HK _32lYB">
                                                                 <div class="_3I5s0"><svg class="_3A5GM VcQr8"
                                                                           version="1.1" viewBox="0 0 32 32" width="32"
                                                                           height="32" aria-hidden="false">
                                                                           <path
                                                                                d="M28.1 5.2L11.7 21.6l-7.8-7.8-3.4 3.3 11.2 11.2L31.5 8.6z">
                                                                           </path>
                                                                      </svg><svg class="FA796 VcQr8" version="1.1"
                                                                           viewBox="0 0 32 32" width="32" height="32"
                                                                           aria-hidden="false">
                                                                           <path
                                                                                d="M18.4 13.6V3.5h-4.8v10.1H3.5v4.8h10.1v10.1h4.8V18.4h10.1v-4.8z">
                                                                           </path>
                                                                      </svg></div>
                                                                 <p class="WER35 _1feRO"><span>0</span> photos</p>
                                                                 <h4 class="_2nV3D _1ByhS xLon9 _1feRO"><svg
                                                                           class="_3iJxO" version="1.1"
                                                                           viewBox="0 0 32 32" width="32" height="32"
                                                                           aria-hidden="false">
                                                                           <path
                                                                                d="M27.4 15.2h-1.6v-5.4c0-2.5-1-5.1-2.9-7-1.5-1.8-4-2.8-6.9-2.8s-5.1 1.3-7 2.9c-1.9 1.9-2.8 4.1-2.8 6.9v5.4h-1.6c-.6 0-1.3.6-1.3 1.3v14.3c0 .6.7 1.2 1.3 1.2h22.8c.6 0 1.3-.6 1.3-1.3v-14.2c0-.7-.7-1.3-1.3-1.3zm-16.5-5.4c0-1.6.6-2.9 1.6-3.8 1-.9 2.2-1.6 3.5-1.6s2.5.6 3.5 1.6c1 .9 1.6 2.2 1.6 3.8v5.4h-10.2v-5.4z">
                                                                           </path>
                                                                      </svg>My first collection</h4>
                                                            </div>
                                                       </div>
                                                  </button></li>
                                        </ul>
                                   </div>
                              </div>
                              <div class="_228en">
                                   <div class="lPH9W _2TNYr">
                                        <h3 class="_2s4Y0 TBVsU _3PSbf">Create new collection</h3>
                                        <form accept-charset="UTF-8" method="post">
                                             <div class="FSoL6"><label class="_2EQwc"
                                                       for="collection_title">Name</label>
                                                  <div class="VSgUi"><span class="B-vuk">60</span><input
                                                            class="_2Fx1K DlMcT" tabindex="1" type="text" name="title"
                                                            id="collection_title" required="" value=""></div>
                                             </div>
                                             <div class="FSoL6"><label class="_2EQwc"
                                                       for="collection_description">Description<span class="_3Xo97">
                                                            (optional)</span></label>
                                                  <div class="VSgUi"><span class="B-vuk">250</span><textarea
                                                            class="_1hWNk DlMcT" tabindex="2" name="description"
                                                            id="collection_description"></textarea></div>
                                             </div>
                                             <div class="FSoL6"><label class="_2dTzq _2EQwc"
                                                       for="collection_privacy"><input class="_3HeKG" tabindex="3"
                                                            type="checkbox" name="privacy" id="collection_privacy">Make
                                                       collection private<div class="_1NBcZ _1mp_X"><svg
                                                                 class="_1zMrr _1MB0n" version="1.1" viewBox="0 0 32 32"
                                                                 width="32" height="32" aria-hidden="false">
                                                                 <path
                                                                      d="M27.4 15.2h-1.6v-5.4c0-2.5-1-5.1-2.9-7-1.5-1.8-4-2.8-6.9-2.8s-5.1 1.3-7 2.9c-1.9 1.9-2.8 4.1-2.8 6.9v5.4h-1.6c-.6 0-1.3.6-1.3 1.3v14.3c0 .6.7 1.2 1.3 1.2h22.8c.6 0 1.3-.6 1.3-1.3v-14.2c0-.7-.7-1.3-1.3-1.3zm-16.5-5.4c0-1.6.6-2.9 1.6-3.8 1-.9 2.2-1.6 3.5-1.6s2.5.6 3.5 1.6c1 .9 1.6 2.2 1.6 3.8v5.4h-10.2v-5.4z">
                                                                 </path>
                                                            </svg><span class="UzQMZ _1kl5T"
                                                                 style="width: 200px; bottom: 30px;">This collection
                                                                 will only be accessible through a direct link.</span>
                                                       </div></label></div>
                                             <div class="PTvwf"><button type="button"
                                                       class="_3h-zP _1l4Hh _1CBrG _3TTOE _3BuTA _5Su7U _2Xklx">Cancel</button><button
                                                       type="submit"
                                                       class="_3PNCP _1l4Hh _1CBrG _3TTOE _3KmtM _3pmDG _3rDw2 _2Xklx">Create
                                                       collection</button></div>
                                        </form>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>