<div class="pd-x-12 mg-x-auto limit-width header-wrapper">
     <div>
          <h1 class="width-8 header-title" data-test="page-header-title">{{ query | titlecase }}</h1>
          <div class="mg-t-24">
               <div class="">
                    <div class="s-recommend-container" style="height: 42px;">
                         <div class="s-recommend-list">
                              <div class="d-flex">
                                   <div class="pd-x-4 s-recommend-wrapper" *ngFor="let rcm of recommends">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More {{ rcm.name }} images" href="/s/photos/{{ rcm.name }}">{{ rcm.name }}</a>
                                        </div>
                                   </div>
                                   
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>