<div class="pd-x-12 mg-x-auto header-wrapper _1CR66">
     <div>
          <h1 class="width-8 header-title" data-test="page-header-title">Pokemon</h1>
          <div class="mg-t-24">
               <div class="">
                    <div class="s-recommend-container" style="height: 42px;">
                         <div class="s-recommend-list">
                              <div class="d-flex">
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More pikachu images" href="/s/photos/pikachu">pikachu</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More person images" href="/s/photos/person">person</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More human images" href="/s/photos/human">human</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More wood images" href="/s/photos/wood">wood</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More tree images" href="/s/photos/tree">tree</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More green images" href="/s/photos/green">green</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More apparel images" href="/s/photos/apparel">apparel</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More clothing images" href="/s/photos/clothing">clothing</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More kid images" href="/s/photos/kid">kid</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More yellow images" href="/s/photos/yellow">yellow</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More explorer images" href="/s/photos/explorer">explorer</a>
                                        </div>
                                   </div>
                                   <div class="pd-x-4 s-recommend-wrapper">
                                        <div class="s-recommend-bd-style s-recommend-display bd-w-1">
                                             <a class="s-recommend-link lh-1 no-decor d-block overflow-hidden fw-500"
                                                  title="More mountain images" href="/s/photos/mountain">mountain</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>