<app-topbar></app-topbar>
<div data-set="following-route">
     <div class="following-header pd-x-12 mg-x-auto header-wrapper">
          <div class="pd-t-16">
               <h1 class="width-8 header-title" data-test="page-header-title">Following</h1>
               <div class="fz-18 w-50">
                    <div>
                         <h2 class="fw-400 fz-18 mg-bt-24">The latest photos from photographers you follow.</h2>
                    </div>
               </div>
          </div>
     </div>

     <div class="pd-x-12 mg-x-auto d-none">No photos to display. Follow some Unsplash photographers and check back soon.</div>
     <app-photogrids></app-photogrids>
</div>