<div class="mg-x-auto limit-width pd-y-12">
     <div class="user-grid-wrapper d-flex flex-wrap-wrap">
          <app-user-item class="width-4" var='y'></app-user-item>
          <app-user-item class="width-4" var='y'></app-user-item>
          <app-user-item class="width-4" var='y'></app-user-item>
          <app-user-item class="width-4" var='y'></app-user-item>
          <app-user-item class="width-4" var='n'></app-user-item>
          <app-user-item class="width-4" var='n'></app-user-item>
          <app-user-item class="width-4" var='y'></app-user-item>
          <app-user-item class="width-4" var='y'></app-user-item>
     </div>
</div>