<!-- <app-error></app-error> -->
<div class="login_container">
  <div class="login-form sheet-padding">
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img src="../../../assets/images/logo70.png" alt="">
            </a>
        </div>
        <div class="header__text-group text-center">
            <h1 class="header__heading">Login</h1>
            <p class="header__subheading">Welcome back.</p>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-6 center-block">
        <form>
            <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
            <label for="exampleFormControlInput1">Password</label>
            <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block-level">Login</button>
            </div>
        </form>
        
        <!-- Footer -->
        <p class="login-form-footer text-center">
            Don't have an account?
            <a class="join-link" href="/join">Join</a>
        </p>
        </div>
    </div>
  </div>
</div>