.sheet-padding {
     padding-top: 60px;
     padding-bottom: 60px;
}

.header-logo {
     margin-bottom: 20px;
     text-align: center;
     display: block;
}

.header__text-group {
     margin-bottom: 36px;
}

.header__heading {
     font-size: 24px;
    margin: 0 0 6px;
    font-weight: 700;
}

.header__subheading {
     font-size: 15px;
     margin: 0;
     line-height: 1.6;
}

.btn-block-level {
     width: 100%;
}

.join-link {
     color: #767676;
    text-decoration: underline;
    -webkit-transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}