<!-- Add shadow class to active shadow -->
<nav class="h-topbar topbar-index navbar__container">
     <div class="navbar__action-section">
          <a class='navbar__logo' href="/" title="Home - UpFamous">
               <img src="../../../../assets/images/logo70.png" style="width: 45px; height: 45px;" alt="">
          </a>
          <div class="navbar__search">
               <form [formGroup]="sForm" class="navbar__search-form" action="">
                    <button (click)="search()" title="Search UpFamous" class="search-icon" type="submit">
                         <svg class="navbar__search-icon" version="1.1" viewBox="0 0 32 32" width="16" height="16" aria-hidden="false">
                              <path d="M31 28.64l-7.57-7.57a12.53 12.53 0 1 0-2.36 2.36l7.57 7.57zm-17.5-6a9.17 9.17 0 1 1 6.5-2.64 9.11 9.11 0 0 1-6.5 2.67z"></path>
                         </svg>
                    </button>
                    <div class="navbar__search-input-container">
                         <input required [formGroup]="sForm" type="search" name="query"
                         formControlName="query" placeholder="Search photos" (keyup.enter)="search()"
                         class="navbar__search-input" id="SEARCH_FORM_INPUT_nav-bar" title="Search UpFamous">
                    </div>
               </form>
          </div>
     </div>
     <div class="navbar__collection-section">
          <ul class="navbar__collection-list">
               <li class="navbar__li-collection">
                    <a class="navbar__collection navbar__current" href="">
                         Editorial
                    </a>
               </li>
               <li class="navbar__li-collection">
                    <a class="navbar__collection" href='/following'>
                         Following
                    </a>
               </li>
          </ul>
     </div>
     <div class="navbar__devider"></div>

     <div *ngIf="isLogin" class="navbar__user-section">
          <div>
               <div class="navbar__submit-photo">
                    <button type="button" class="btn uf-btn-text uf-btn-white uf-btn-border"><a class="uf-grey no-decor" href="/upload">Submit a photo</a></button>
               </div>
          </div>
          <div class="navbar__notification">
               <div>
                    <span>
                         <svg class="bell-icon" version="1.1" viewBox="0 0 32 32" width="20" height="20" aria-hidden="false">
                              <path d="M18.9 30.6c-7.4 2.6-14.2 1.4-15.7-2.8-.5-1.5-.2-3.2.8-4.9.5-.8.5-2.1.2-3l-1.4-3.9c-.9-2.6-.7-5.2.3-7.5.7-1.7 2-3.1 3.5-4.1l-.4-1c-.4-1.1.2-2.2 1.3-2.6l1.9-.7c1.1-.4 2.2.2 2.6 1.3l.4 1c2-.2 4.1.3 5.9 1.4 1.9 1.2 3.5 3.1 4.3 5.4l1.4 3.9c.3.8 1.2 1.9 2 2.2 1.8.7 3 1.8 3.6 3.4 1.4 4.2-3.2 9.3-10.7 11.9zm7.3-10.8c-.6-1.7-5.2-2.8-11.3-.7-6.1 2.1-9 5.8-8.4 7.5.6 1.7 5.2 2.8 11.3.7 6.1-2.1 9-5.8 8.4-7.5zm-7.2.8l.1.8c0 1.9-1.1 3.6-2.7 4.4-.6.3-1.3.6-2.1.6h-.1c-1.6 0-2.9-.8-3.9-1.9-.1-.2-.1-.5.1-.6 1.1-.9 2.8-2 5.3-2.8 1-.3 2-.6 2.9-.8.1-.1.3.1.4.3z"></path>
                         </svg>
                         <div class="navbar__notification-dot">0</div>
                    </span>
               </div>
          </div>
          <div class="navbar__user">
               <a href="/user/{{ currentUser.username }}">
                    <img class="user-avatar" src="https://images.unsplash.com/profile-fb-1564720054-f09a2804ca97.jpg?dpr=1&amp;auto=format&amp;fit=crop&amp;w=32&amp;h=32&amp;q=60&amp;crop=faces&amp;bg=fff" role="presentation" alt="Go to Dinh Quy's profile">
               </a>
          </div>
     </div>

     <div *ngIf="!isLogin" class="d-flex d-inline-flex align-items-center">
          <a href="/login" rel="nofollow" class="btn-no-border mg-r-14 uf-btn-white uf-btn-text uf-btn-border no-decor fw-500">Login</a>
          <a href="/join" rel="nofollow" class="green-btn mg-r-0 uf-btn-white uf-btn-text uf-btn-border no-decor fw-500">Join free</a>
     </div>
</nav>
<div class="h-topbar"></div>