<!-- Add shadow class to active shadow -->
<nav class="h-topbar topbar-index navbar__container">
     <div class="navbar__action-section">
          <a class='navbar__logo' href="/" title="Home - UpFamous">
               <img src="../../../../assets/images/logo70.png" style="width: 45px; height: 45px;" alt="">
          </a>
          <div class="navbar__search">
               <form [formGroup]="sForm" class="navbar__search-form" action="">
                    <button (click)="search()" title="Search UpFamous" class="search-icon" type="submit">
                         <svg class="navbar__search-icon" version="1.1" viewBox="0 0 32 32" width="16" height="16" aria-hidden="false">
                              <path d="M31 28.64l-7.57-7.57a12.53 12.53 0 1 0-2.36 2.36l7.57 7.57zm-17.5-6a9.17 9.17 0 1 1 6.5-2.64 9.11 9.11 0 0 1-6.5 2.67z"></path>
                         </svg>
                    </button>
                    <div class="navbar__search-input-container">
                         <input required [formGroup]="sForm" type="search" name="query"
                         formControlName="query" placeholder="Search photos" (keyup.enter)="search()"
                         class="navbar__search-input" id="SEARCH_FORM_INPUT_nav-bar" title="Search UpFamous">
                    </div>
               </form>
          </div>
     </div>
     <div class="navbar__collection-section">
          <ul class="navbar__collection-list">
               <li class="navbar__li-collection">
                    <a class="navbar__collection navbar__current" href="">
                         Editorial
                    </a>
               </li>
               <li class="navbar__li-collection">
                    <a class="navbar__collection" href='/following'>
                         Following
                    </a>
               </li>
          </ul>
     </div>
     <div class="navbar__devider"></div>

     <div *ngIf="isLogin" class="navbar__user-section">
          <div>
               <div class="navbar__submit-photo">
                    <button type="button" class="btn uf-btn-text uf-btn-white uf-btn-border"><a class="uf-grey no-decor" href="/upload">Submit a photo</a></button>
               </div>
          </div>
          
          <div class="mg-l-8 navbar__user">
               <a href="/user/{{ currentUser.username }}">
                    <img class="user-avatar" [src]="currentUser.avatar" role="presentation" alt="Go to {{currentUser.first_name}} {{ currentUser.last_name }}'s profile">
               </a>
          </div>
     </div>

     <div *ngIf="!isLogin" class="d-flex d-inline-flex align-items-center">
          <a href="/login" rel="nofollow" class="btn-no-border mg-r-14 uf-btn-white uf-btn-text uf-btn-border no-decor fw-500">Login</a>
          <a href="/join" rel="nofollow" class="green-btn mg-r-0 uf-btn-white uf-btn-text uf-btn-border no-decor fw-500">Join free</a>
     </div>
</nav>
<div class="h-topbar"></div>