<div class="registration__wrapper">
  <div class="registration__containers">
    <div
      class="sheet sheet-inverse registration__left-panel"
      style="background-image: url(https://images.unsplash.com/photo-1548699979-eb3d8e05ba40?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);"
    >
      <div class="registration__content">
        <div class="registration__logo">
          <img src="../../../assets/images/logo70-bw.png" alt="Logo" />
        </div>
        <div>
          <h1 class="registration__title">
            Creation starts here
          </h1>
          <h2 class="registration__sub-title">
            Access 1,309,392 free, high-resolution photos you can’t find
            anywhere else
          </h2>
        </div>
        <div>
          <p class="registration__credit">
            Uploaded 9 months ago by Freddy Marschall
          </p>
        </div>
      </div>
    </div>
    <div class="registration__right-panel">
      <div class="login-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center sheet--padding-bottom">
              <h4 class="alpha text-bold">Join UpFamous</h4>
              <p>
                Already have an account?
                <a rel="nofollow" href="/login">Login</a>
              </p>
            </div>
            <div class="form">
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="user_first_name">First name</label>
                      <input
                        autofocus="autofocus"
                        class="form-control"
                        required="required"
                        type="text"
                        name="user[first_name]"
                        id="user_first_name"
                        formControlName="first_name"
                        [formGroup]="form"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="user_last_name">Last name</label>
                      <input
                        class="form-control"
                        required="required"
                        type="text"
                        name="user[last_name]"
                        id="user_last_name"
                        formControlName="last_name"
                        [formGroup]="form"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="user_email">Email address</label>
                  <input
                    class="form-control"
                    required="required"
                    type="email"
                    name="user[email]"
                    id="user_email"
                    formControlName="email"
                    [formGroup]="form"
                  />
                </div>
                <div class="form-group">
                  <label for="user_username"
                    >Username
                    <span class="text-secondary"
                      >(only letters, numbers, and underscores)</span
                    >
                  </label>
                  <input
                    class="form-control"
                    pattern="[a-zA-Z0-9_]*[a-zA-Z][a-zA-Z0-9_]*"
                    required="required"
                    type="text"
                    name="user[username]"
                    id="user_username"
                    formControlName="username"
                    [formGroup]="form"
                  />
                </div>
                <div class="form-group">
                  <label for="user_password"
                    >Password
                    <span class="text-secondary">(min. 6 char)</span>
                  </label>
                  <input
                    class="form-control"
                    minlength="6"
                    required="required"
                    type="password"
                    name="user[password]"
                    id="user_password"
                    formControlName="password"
                    [formGroup]="form"
                  />
                </div>
                <div class="form-group">
                  <a href="" class="btn btn-dark btn-block-level" (click)="register()">Join</a>
                </div>
                <div class="form-group text-center">
                  <p class="text-secondary zeta">By joining, you agree to the <a href="/terms">Terms</a> and <a href="/privacy">Privacy Policy</a>.</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
