/* You can add global styles to this file, and also import other style files */
html {
	font-family: 'Roboto', sans-serif;
}

.center-block {
     display: block;
     margin-left: auto;
     margin-right: auto;
     float: none;
}

.no-decor {
     text-decoration: none;
}

.no-decor:hover {
     text-decoration: none;
}

.pointer-auto {
     pointer-events: auto;
}

.transition {
     transition: opacity .1s ease-in-out,visibility .1s ease-in-out;
}

.dim {
     opacity: .8;
    transition: opacity .1s ease-in-out;
}

.dim:hover {
     opacity: 1;
}

.relative {
     position: relative;
}

.img-circle {
     position: relative;
    display: inline-block;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    background-color: rgba(0,0,0,.1);
}

img {
     vertical-align: middle;
     border: 0;
}

p, .paragraph {
     font-size: 15px;
     font-weight: 400;
     line-height: 1.6;
     margin: 16px 0;
 }

 a {
     color: #767676;
     text-decoration: underline;
     -webkit-transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
     transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
 }

.sheet--padding-bottom {
     padding-bottom: 45px;
}

.btn-block-level {
     width: 100%;
}

.form-group {
     margin-bottom: 24px;
 }

 .btn {
      padding: 9px 18px;
      text-decoration: none;
 }

.search-icon {
     display: flex;
     align-items: center;
     border: none;
     padding: 0;
     background-color: transparent;
     text-align: inherit;
}

button {
     color: inherit;
     cursor: pointer;
     font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
 }

.text-subhead {
     display: block;
    font-size: 11px;
    letter-spacing: .02em;
}

.lh-135 {
     line-height: 1.35;
}

.lh-30px {
     line-height: 30px;
}

.overflow-hidden {
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fz-15 {
     display: block;
    font-size: 15px;
}

.tw-shadow-08 {
     color: #fff;
    transform: translateZ(0);
    text-shadow: 0 1px 8px rgba(0,0,0,.1);
}

.tw-shadow-08:hover {
     color: #fff;
     opacity: 1;
}

.text-sponsore {
     font-size: 11px;
    letter-spacing: .02em;
    pointer-events: auto;
    color: #fff;
    transform: translateZ(0);
    text-shadow: 0 1px 8px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
}

.text-sponsore:hover {
     color: #fff;
     opacity: 1;
}

.icon-sponsore {
     width: 12px;
     height: 12px;
     fill: currentColor;
     margin-top: 1px;
     margin-left: 6px;
}