<div class="float-left modal-img-collection"
     [ngStyle]="{'background-image': 'url(' + getImgUrl(item) + ')'}">
</div>
<div class="_3eozC"></div>
<div class="modal-collection-action">
     <div class="overflow-auto-y h-100">
          <div class="pd-0-40-40">
               <h3 class="modal-collection-h3-mg modal-collection-h3-fz">Add to Collection</h3>
               <button
                    class="modal-btn-new-collection modal-btn-new-collection-dp modal-li-style-border" type="button">Create a new
                    collection</button>
               <ul class="mg-y-0 list-style-none pd-l-0">
                    <li class="mg-bt-12" *ngFor="let clt of userCollections">
                         <button class="modal-li-style box-shadow-none modal-li-style-border" type="button">
                              <div class="relative">

                                   <img *ngIf="clt.feature_imgs.length != 0" class="obj-fit-cover w-100"
                                        [src]="getImgUrl(clt.feature_imgs[0])"
                                        width="480" height="80">
                                   <div *ngIf="clt.feature_imgs.length == 0" style="height: 80px;"></div>

                                   <div class="modal-li-info-bg modal-li-info-style">
                                        <div class="modal-collection-add"><svg class="_3A5GM VcQr8" version="1.1" viewBox="0 0 32 32"
                                                  width="32" height="32" aria-hidden="false">
                                                  <path d="M28.1 5.2L11.7 21.6l-7.8-7.8-3.4 3.3 11.2 11.2L31.5 8.6z">
                                                  </path>
                                             </svg><svg class="FA796 VcQr8" version="1.1" viewBox="0 0 32 32" width="32"
                                                  height="32" aria-hidden="false">
                                                  <path
                                                       d="M18.4 13.6V3.5h-4.8v10.1H3.5v4.8h10.1v10.1h4.8V18.4h10.1v-4.8z">
                                                  </path>
                                             </svg>
                                        </div>
                                        <p class="modal-clt-img-count text-shadow lh-135"><span>{{ clt.imgs.length }}</span> photo(s)</p>
                                        <h4 class="modal-clt-name overflow-hidden text-shadow fw-500">
                                             <svg *ngIf="!clt.status" class="lock-icon fill-w opaticy-06" version="1.1"
                                                  viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                                                  <path
                                                       d="M27.4 15.2h-1.6v-5.4c0-2.5-1-5.1-2.9-7-1.5-1.8-4-2.8-6.9-2.8s-5.1 1.3-7 2.9c-1.9 1.9-2.8 4.1-2.8 6.9v5.4h-1.6c-.6 0-1.3.6-1.3 1.3v14.3c0 .6.7 1.2 1.3 1.2h22.8c.6 0 1.3-.6 1.3-1.3v-14.2c0-.7-.7-1.3-1.3-1.3zm-16.5-5.4c0-1.6.6-2.9 1.6-3.8 1-.9 2.2-1.6 3.5-1.6s2.5.6 3.5 1.6c1 .9 1.6 2.2 1.6 3.8v5.4h-10.2v-5.4z">
                                                  </path>
                                             </svg>
                                             {{ clt.name }}
                                        </h4>
                                   </div>
                              </div>
                         </button>
                    </li>
               </ul>
          </div>
     </div>
     <!-- Add class: modal-create-clt-show to show -->
     <div class="model-new-collection ">
          <div class="pd-0-40-40 modal-create-clt-display display-table">
               <h3 class="modal-collection-h3-mg modal-collection-h3-fz">Create new collection</h3>
               <form accept-charset="UTF-8" method="post">
                    <div class="modal-create-clt-form-group">
                         <label class="modal-create-clt-title" for="collection_title">Name</label>
                         <div class="relative">
                              <span class="modal-create-clt-text-limit">60</span>
                              <input class="pd-r-37 modal-create-clt-input" tabindex="1"
                                   type="text" name="title" id="collection_title" required="" value="">
                         </div>
                    </div>
                    <div class="modal-create-clt-form-group">
                         <label class="modal-create-clt-title" for="collection_description">Description<span
                                   class="uf-grey">
                                   (optional)</span>
                         </label>
                         <div class="relative">
                              <span class="modal-create-clt-text-limit">250</span>
                              <textarea class="modal-create-clt-textarea modal-create-clt-input" tabindex="2"
                                   name="description" id="collection_description"></textarea>
                         </div>
                    </div>
                    <div class="modal-create-clt-form-group">
                         <label class="d-flex align-items-center modal-create-clt-title" for="collection_privacy">
                              <input class="d-inline-block mr-8"
                                   tabindex="3" type="checkbox" name="privacy" id="collection_privacy">Make
                              collection private
                              <div class="relative d-inline mg-l-8">
                                   <svg class="popup-hover-man lock-icon relative fill-grey" version="1.1"
                                        viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
                                        <path
                                             d="M27.4 15.2h-1.6v-5.4c0-2.5-1-5.1-2.9-7-1.5-1.8-4-2.8-6.9-2.8s-5.1 1.3-7 2.9c-1.9 1.9-2.8 4.1-2.8 6.9v5.4h-1.6c-.6 0-1.3.6-1.3 1.3v14.3c0 .6.7 1.2 1.3 1.2h22.8c.6 0 1.3-.6 1.3-1.3v-14.2c0-.7-.7-1.3-1.3-1.3zm-16.5-5.4c0-1.6.6-2.9 1.6-3.8 1-.9 2.2-1.6 3.5-1.6s2.5.6 3.5 1.6c1 .9 1.6 2.2 1.6 3.8v5.4h-10.2v-5.4z">
                                        </path>
                                   </svg>
                                   <span class="popup ws-normal" style="width: 200px; bottom: 30px;">
                                        This collection will only be accessible through a direct link.
                                   </span>
                              </div>
                         </label>
                    </div>
                    <div class="pd-t-16">
                         <button type="button"
                              class="uf-btn-border uf-btn-big btn-like-link text-decor">Cancel</button>
                         <button type="submit" class="d-inline-block float-right uf-btn-border uf-btn-text uf-btn-black no-decor fw-500 uf-btn-big">
                              Create collection
                         </button>
                    </div>
               </form>
          </div>
     </div>
</div>